
table{border: 5px;}
table{color: blue;}
#heading1{color: green;}
#heading2{color: brown;}
.name h3 {font-size: 40px;
color: #000;
font-weight: bold;
}
.hello {
 position: relative;
  text-align: center;
  color: white;
	
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: brown;
  color: white;
  text-align: center;
}
.widget{
  background-color: grey;
  width: 100%;
}
.widget h2{
  color: white;
  text-align: center;
}
.widget a{

  text-align: center;
}
